# Select directories
stimulus_preparation/
paper/
papers/
experiments/
data/recall_testable_with_testable_ids/

# Ignore various Rmd compilation outputs
*.log
*.aux
*.toc
*.out
*.html
*.Rhistory

# Don't upload voice recordings
*.mp3 
*.zip

# Other stuff
figures/
results/unused/
results/0todo.txt
results/todo_files/
recall
simulations/parser/output/*
!simulations/parser/output/parser.recall.results.tab.zip
