# Select directories
stimulus_preparation/
paper/
papers/
experiments/
results/data/recall_testable_with_testable_ids/

# Ignore various Rmd compilation outputs
*.log
*.aux
*.toc
*.out
*.html
*.Rhistory

# Ignore old Rmd files
results/segmentation_recall_combined.Rmd
results/segmentation_recall_combined_for_R_version_4.1.1.Rmd
results/segmentation_recall_combined_for_revision.Rmd
results/segmentation_recall_combined_for_revision2.Rmd

# Don't upload voice recordings
*.mp3 
*.zip

# Other stuff
figures/
results/unused/
results/0todo.txt
results/todo_files/
recall
simulations/parser/output/*
!simulations/parser/output/parser.recall.results.tab.zip
results/output/*
!results/output/dat.all.recall.items.tstbl.with.candidates.txt
*.webloc
*.sav
